

body
{
background-color: #bfbfbf;
margin: 0px;
width: 100%;
}


.body
{
padding: 15px;
}

.body h3
{
font-size: 20px;
margin: 10px;
}

.body p
{
font-size: 16px;
margin: 10px;
text-indent: 25px;
width: 55%;
}

nav{
background-color: black;
font-size: 20px;
color: white;
padding: 15px;
height: 20px;
width: 100%;
}

a
{
color: white;
padding: 20px;

}

.header
{
background-color: #66b3ff;
width: 100%;
padding: 15px;
}

.header h1
{
margin: 10px;
}
.header h4
{
margin: 10px;
}

